/*-----------------------------------------------------------------------------------*/
/*  2.  Header Styles
/*-----------------------------------------------------------------------------------*/

.container {
    max-width: $maxWidth;
    margin: 0 auto;
    //padding: 20px 0 0 0;
    padding: 0;
}


.header {
    border: 0px solid brown;
    position: relative;
    display: grid;
    grid-template-areas: "header-top"
                        "nav";
    grid-template-rows: auto auto;
}

.header-top {
    display: grid;
    grid-template-areas: "one two"
                        "three four"
                        "five six";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    
    grid-row-start: header-top;
    grid-row-end: header-top;

    padding: 0 6px;

}

    .header-top__logo {
        display: flex;
        align-items: center;
        height: 100%;
    }    

    /*a*/.header-top__logo-link {
        color: #222233;
        display: flex;
        font-weight: bold;
        flex-flow: column;
        margin: 13px 0;
        text-transform: uppercase; 
        text-shadow: 2px 2px 6px rgba(0,0,0,0.185);
    }

    /*span*/.header-top__logo-title {
        font-size: 22px;
        font-family: 'Cinzel', serif;
        margin-bottom: 8px;
        letter-spacing: .05rem;

        @include toms-fluid-type (320px, 475px, 6.8vw);
        @include toms-fluid-type (476px, 767px, 2.25rem);
        @include toms-fluid-type (768px, 849px, 1.7rem);
        @include toms-fluid-type (850px, 999px, 1.7rem);
        @media (min-width: 1000px) {
            font-size: 2.2rem;
        }
        
    }

    /*span*/.header-top__logo-tagline {
        font-size: 19px;
        font-family: 'proxima_novaregular', sans-serif;
        //padding-left: 2rem;
        @include toms-fluid-type (320px, 475px, 6vw);
        @include toms-fluid-type (476px, 767px, 2rem);
        
        @include toms-fluid-type (850px, 999px, 2.5rem);
        @media (min-width: 768px) and (max-width: 849px) {
            font-size: 1.4rem;
            padding-left: 2.7rem;
        }

        @media (min-width: 850px) and (max-width: 999px) {
            font-size: 1.5rem;
            padding-left: 3.25rem;
        }
        @media (min-width: 1000px) {
            padding-left: 4rem;
            font-size: 1.85rem;
        }    
    }

    .header__caption-wrap {
        //border: 1px solid pink;
        grid-column-start: header-caption;
        grid-column-end:   header-caption;
        display: flex;
        flex-flow: column;
        height: 100%;
    }

    /*h3*/.header__caption-hdr {
        color: $headerTxt;
        font-family: 'proxima_novaregular', Helvetica, Arial, sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
        text-transform: uppercase;
        text-align: right;

        //@include toms-fluid-type (320px, 500px, 5.4vw);
        @include toms-fluid-type (320px, 475px, 5vw);
        @include toms-fluid-type (476px, 767px, 1.25rem);
        @include toms-fluid-type (768px, 849px, 1.175rem);
        @include toms-fluid-type (850px, 999px, 1.25rem);
        @media (min-width: 1000px) {
            font-size: 1.3rem;
        }
    }

    .header__caption-link {
        color: #c00;
        color: $homePageLinks;
        //color: darken(orange, 20);
       &:hover {
            color: $hover;
        };
    }

    .header__social-media-link {
        width: 45%;
        align-self: flex-end;
        display: block;
        @media (min-width: 320px) and (max-width: 475px) {
            width: 25%;
        }
        @media (min-width: 476px) and (max-width: 767px) {
            width: 135px;
        }
        @media (min-width: 768px) and (max-width: 999px) {
            width: 93px;
        }
        @media (min-width: 1000px) {
            width: 110px;
        }
    }
    
    .header__social-media-logo--linkedIn {
        width: 100%;
    }
    .header__social-media-logo:hover g.linkedin-text path, .header__social-media-logo:hover g.linkedin-text polygon, .header__social-media-logo:hover g.inbug path.background {
        fill: $hover;

    }

/* .mobile-nav__wrapper { */
.mobile-nav-label {
    display: flex;
    position: relative;
    align-items: center;
    //background-color: orange;
    width: 2.5rem;
}

input#open {
    display: none;
}

/* FROM CODEPEN */
/* input[type="checkbox"]:checked + div > ul{ */

input[type="checkbox"]:checked + .menu-header-navigation-container {
        height: 437px;
    }

.mobile-nav-label {
    border: 3px solid #222;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1.15rem;
    transition: background-color .25s ease-out;
}

.mobile-nav-label:hover {
    background-color: $orangeGlasses;
}

.mobile-nav-span {
    display: inline-block;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    //background: rgba(255,255,255,.3);
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTM5IDEzOSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48c3R5bGU+LnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiMwMDA7c3Ryb2tlLXdpZHRoOjY7c3Ryb2tlLW1pdGVybGltaXQ6MTB9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBpZD0iWE1MSURfNl8iIGQ9Ik0yNi41IDQ2LjNoODYiLz48cGF0aCBjbGFzcz0ic3QwIiBpZD0iWE1MSURfOV8iIGQ9Ik0yNi41IDkyLjdoODYiLz48cGF0aCBjbGFzcz0ic3QwIiBpZD0iWE1MSURfOF8iIGQ9Ik0yNi41IDY5LjVoODYiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease;
}

/**** PRIMARY NAV ****/

/* nav */.primary-nav {
    //border: 1px solid pink;
    display: flex;
    height: auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    grid-row-start: nav;
    grid-row-end: nav;
}

.menu-header-navigation-container {
    margin-bottom: 5px;
    width: 100%;
}

/*nav*/.primary-nav ul {
    display: flex;
    flex-flow: row;
    list-style: none;
    line-height: 1;
    
    //font-family: 'Roboto', sans-serif;
    //font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-size: .6rem;
    font-weight: 700;
    text-transform: uppercase;
    
    justify-content: flex-end;
    margin-bottom: 0;
    width: 100%;
}

.primary-nav ul {
    font-size: 1.2rem;
    }

.primary-nav ul li {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin: 0 .55rem;
    z-index: 40;

}

.primary-nav ul a {
    color: $blackBlue;
    display: block;
    
    padding: 1rem 6px;
    position: relative;

}

/*nav*/.primary-nav ul li.sfHover > a,
/*nav*/.primary-nav ul li.current-cat > a,
/*nav*/.primary-nav ul li.current_page_item > a,
/*nav*/.primary-nav ul li.current-menu-item > a {
    background-color: $baseBlue;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

/*nav*/.primary-nav ul li#menu-item-475 > a {
    background: none !important;
    color: $baseBlue;
}

/*nav*/.primary-nav ul li#menu-item-475 > a:hover {
    background-color: #5b5343 !important;
    color: #fff !important;
    text-decoration: none !important;
}

.primary-nav ul a:hover {
    background-color: #5b5343;
    color: #fff;
    text-decoration: none;
}

/* MEDIA Q's START HERE */

@media (min-width: 1px) and (max-width: 767px) {
    .header {
        padding: 10px 0 20px 0;
    }

        .header-top__logo {
            //grid-column-start: one;
            //grid-column-end:   two;
            grid-column: span 2;
            grid-row:    1 ;
            margin-bottom: 1.6rem;
        }
            .header-top__logo-link {
                text-align: center;
                width: 100%;
            }
        .header__caption-wrap {
            grid-column: span 2;
            grid-row:    2 ;
        }
            .header__caption-hdr {
                line-height: 1.8;
                margin-bottom: 12px;
                text-align: center;
            }
            .header__social-media-link {
                align-self: center;
            }
        
        .menu-header-navigation-container {
            height: 0;
            overflow: hidden;
            width: 100%;
            transition: height .25s ease-out;
        }
        
        /*nav*/ .primary-nav {
                display: flex;
                flex-flow: column;
                align-items: center;
            }

            .mobile-nav__wrapper, .mobile-nav-label {
                //grid-row: 3;
                //grid-column: 1 / 2;
                
                //border: 2px solid yellow;
                //margin: 0 auto;
                //height: 50px; /* temp */
                //width: 50%;
            }
    
            /*nav*/.primary-nav ul {
                display: flex;
                flex-flow: column;
                margin-top: 1.2rem;
            }

                /*nav*/.primary-nav ul li {
                    margin-left: 0;
                    text-align: center;
                    width: 100%;
                }
}



@media (min-width: 768px) {
    .header {
        padding: 25px 0% 0px 0%;
    }
    .header-top__logo {
        grid-column-start: one;
        grid-column-end:   one;
        grid-row:    1 / span 2;
    }

    .header__caption-wrap {
        grid-column-start: two;
        grid-column-end:   two;
        grid-row:    1 / span 2;
        display: flex;
        align-items: flex-end;
    }
    
    .menu-header-navigation-container {
        height: auto;
    }

    .mobile-nav__wrapper, .mobile-nav-label {
        grid-row: 3;
        grid-column: 1 / 2;
    }
    .primary-nav ul li {
        background: none;
        border-bottom: none;
    }
    .primary-nav ul {
        font-size: .85rem;
    }
}


@media (max-width: 980px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 768px) {

    .header-top { 
        padding-bottom: 2rem; 
    }
    .header-top__logo {
        grid-column-start: one;
        grid-column-end:   one;
        grid-row:    1 / span 2
    }

    .mobile-nav__wrapper, .mobile-nav-label {
        display: none;
    }
    /*nav*/.primary-nav ul {
        font-size: .85rem;
    }
    
    /*nav*/.primary-nav ul li:first-of-type {
            display: none;
    }
    /*nav*/.primary-nav ul li {
        //float: left;
        //position: relative;
        z-index: 40;
    }
    .primary-nav ul li:last-of-type {
        margin-right: 0;
    }
    .navbar-toggler {
        display: none;
    }
    .responsive-menu-button {
        display: none;
    }
}

@media (min-width: 900px) {
    .primary-nav ul {
        font-size: 1rem;
    }
}

@media (min-width: 930px) {
    /*nav*/.primary-nav ul {
        font-size: 1.01rem;
    }
    /*span*/.header__logo-title {
        font-size: 1.9rem;
    }
    /*span*/.header__logo-tagline {
        font-size: 1.65;
    }
}

/* SUB NAV STUFF */

#primary-nav ul li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }

#primary-nav ul ul {
    position: absolute;
    top: -9999em;
    width: 150px; /* left offset of submenus need to match (see below) */
}

#primary-nav ul ul li { width: 100%; }

/*  Make sub menus appear */
#primary-nav ul li:hover ul,
#primary-nav ul li.sfHover ul {
    left: -1px;
    top: 36px; /* match top ul list item height */
    z-index: 99;
}

/* Hide all subs subs (4 levels deep) */
#primary-nav ul li:hover li ul,
#primary-nav ul li.sfHover li ul,
#primary-nav ul li li:hover li ul,
#primary-nav ul li li.sfHover li ul,
#primary-nav ul li li li:hover li ul,
#primary-nav ul li li li.sfHover li ul { top: -9999em; }

/* Displays all subs subs (4 levels deep) */
#primary-nav ul li li:hover ul,
#primary-nav ul li li.sfHover ul,
#primary-nav ul li li li:hover ul,
#primary-nav ul li li li.sfHover ul,
#primary-nav ul li li li li:hover ul,
#primary-nav ul li li li li.sfHover ul {
    left: 150px; /* match .nav ul width */
    top: -1px;
}



/* 2nd level skin ------------------------------------*/
#primary-nav ul ul {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    padding: 3px 12px;
}

#primary-nav ul ul li {
    height: 35px;
    line-height: 35px;
    border-top: 1px solid #efefef;
    float: none;
    background: none;
}

#primary-nav ul ul li:first-child { border-top: none; }

#primary-nav ul ul li a {
    color: #b2b2b6;
    font-weight: normal;
    line-height: 35px;
    height: 35px;
    font-size: 12px;
    padding: 0;
    text-decoration: none;
}

#primary-nav ul li.sfHover ul a { background: #fff; }

#primary-nav ul li.sfHover ul a:hover { color: #555; }

/* Secondary Nav -------------------------------------*/

#secondary-nav {
    float: right;
    width: 50%;
}

#secondary-nav ul { float: right; }

#secondary-nav li {
    float: left;
    margin-left: 7px;
}

#secondary-nav a {
    border-bottom: none;
    color: #222;
    font: 14px/21px 'proxima-nova', Helvetica, Arial, sans-serif;
    padding: 2px 3px;
    margin: 0;
}

#secondary-nav a:hover {
    border-bottom: none;
    color: #fff;
    font: 14px/21px 'proxima-nova', Helvetica, Arial, sans-serif;
        background-color: #A63838;
    padding: 2px 3px;
    margin: 0;
}