/* .mobile-nav__wrapper { */
    .mobile-nav-label {
        display: flex;
        position: relative;
        align-items: center;
        //background-color: orange;
        width: 2.5rem;
    }
    
    input#open {
        display: none;
    }

/* FROM CODEPEN */
/* input[type="checkbox"]:checked + div > ul{ */

    input[type="checkbox"]:checked + .menu-header-navigation-container {
        height: 437px;
    }

.mobile-nav-label {
    border: 3px solid #222;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1.15rem;
    transition: background-color .25s ease-out;
}

.mobile-nav-label:hover {
    background-color: $orangeGlasses;
}

.mobile-nav-span {
    display: inline-block;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    //background: rgba(255,255,255,.3);
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTM5IDEzOSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48c3R5bGU+LnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiMwMDA7c3Ryb2tlLXdpZHRoOjY7c3Ryb2tlLW1pdGVybGltaXQ6MTB9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBpZD0iWE1MSURfNl8iIGQ9Ik0yNi41IDQ2LjNoODYiLz48cGF0aCBjbGFzcz0ic3QwIiBpZD0iWE1MSURfOV8iIGQ9Ik0yNi41IDkyLjdoODYiLz48cGF0aCBjbGFzcz0ic3QwIiBpZD0iWE1MSURfOF8iIGQ9Ik0yNi41IDY5LjVoODYiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease;
}

/**** PRIMARY NAV ****/ 

/* nav */.primary-nav {
    margin-bottom: 20px;
    /* not shown in inspector
    display: flex;
    height: auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    grid-row-start: nav;
    grid-row-end: nav;
    */
}

.menu-header-navigation-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-family: "Cabin", sans-serif;
    font-size: 0.85rem;
    list-style-type: none;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
} 

/*nav*/.primary-nav ul {
    display: flex;
    flex-flow: row;
    list-style: none;
    line-height: 1;
    font-family: 'Lato', sans-serif;
    font-size: .6rem;
    font-weight: 700;
    text-transform: uppercase;
    
    justify-content: flex-end;
    margin-bottom: 0;
    width: 100%;
}

.primary-nav ul {
    font-size: 1.2rem;
    }

.primary-nav ul li {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin: 0 .55rem;
    z-index: 40;

}

.primary-nav ul a {
    color: $blackBlue;
    display: block;
    
    padding: 1rem 6px;
    position: relative;

}

/*nav*/.primary-nav ul li.sfHover > a,
/*nav*/.primary-nav ul li.current-cat > a,
/*nav*/.primary-nav ul li.current_page_item > a,
/*nav*/.primary-nav ul li.current-menu-item > a {
    background-color: $baseBlue;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

/*nav*/.primary-nav ul li#menu-item-475 > a {
    background: none !important;
    color: $baseBlue;
}

/*nav*/.primary-nav ul li#menu-item-475 > a:hover {
    background-color: #5b5343 !important;
    color: #fff !important;
    text-decoration: none !important;
}

.primary-nav ul a:hover {
    background-color: #5b5343;
    color: #fff;
    text-decoration: none;
}

/* MEDIA Q's START HERE */

@media (min-width: 1px) and (max-width: 767px) {
    .header {
        padding: 10px 0 20px 0;
    }

        .header-top__logo {
            //grid-column-start: one;
            //grid-column-end:   two;
            grid-column: span 2;
            grid-row:    1 ;
            margin-bottom: 1.6rem;
        }
            .header-top__logo-link {
                text-align: center;
                width: 100%;
            }
        .header__caption-wrap {
            grid-column: span 2;
            grid-row:    2 ;
        }
            .header__caption-hdr {
                line-height: 1.8;
                margin-bottom: 12px;
                text-align: center;
            }
            .header__social-media-link {
                align-self: center;
            }
        
        .menu-header-navigation-container {
            height: 0;
            overflow: hidden;
            width: 100%;
            transition: height .25s ease-out;
        }
        
        /*nav*/ .primary-nav {
                display: flex;
                flex-flow: column;
                align-items: center;
            }

            .mobile-nav__wrapper, .mobile-nav-label {
                //grid-row: 3;
                //grid-column: 1 / 2;
                
                //border: 2px solid yellow;
                //margin: 0 auto;
                //height: 50px; /* temp */
                //width: 50%;
            }
    
            /*nav*/.primary-nav ul {
                display: flex;
                flex-flow: column;
                margin-top: 1.2rem;
            }

                /*nav*/.primary-nav ul li {
                    margin-left: 0;
                    text-align: center;
                    width: 100%;
                }
}

@media (min-width: 768px) {
        
    .menu-header-navigation-container {
        height: auto;
    }

    .mobile-nav__wrapper, .mobile-nav-label {
        grid-row: 3;
        grid-column: 1 / 2;
    }
    .primary-nav ul li {
        background: none;
        border-bottom: none;
    }
    .primary-nav ul {
        font-size: .85rem;
    }
}

@media (min-width: 768px) {
    .mobile-nav__wrapper, .mobile-nav-label {
        display: none;
    }
    /*nav*/.primary-nav ul {
        font-size: .85rem;
    }
    
    /*nav*/.primary-nav ul li:first-of-type {
            display: none;
    }
    /*nav*/.primary-nav ul li {
        //float: left;
        //position: relative;
        z-index: 40;
    }
    .primary-nav ul li:last-of-type {
        margin-right: 0;
    }
    .navbar-toggler {
        display: none;
    }
    .responsive-menu-button {
        display: none;
    }
}

@media (min-width: 900px) {
    .primary-nav ul {
        font-size: 1rem;
    }
}

@media (min-width: 930px) {
    /*nav*/.primary-nav ul {
        font-size: 1.01rem;
    }
}