/* Audio/Video jPlayer Skin -------------------------------*/

div.jp-jplayer.jp-jplayer-video,
div.jp-jplayer.jp-player-video {
    background-color: #292a2b;
    width: 560px;
}

.jp-audio-container,
.jp-video-container { margin-bottom: 20px; }

div.jp-interface {
    position: relative;
    width: 100%;
    background: url(images/jplayer_bg.png) repeat-x;
    z-index: 100;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}

.jp-interface { height: 30px; }

.jp-controls {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.jp-controls li { display: inline; }

.jp-controls a {
    border-bottom: none;
    position: absolute;
    overflow: hidden;
    text-indent: -9999px;
}

.jp-controls a:hover { background-color: transparent; }

a.jp-play,
a.jp-pause {
    width: 33px;
    height: 30px;
    z-index: 1;
    outline: none;
    top: 0;
    left: 0;
}

a.jp-play { background: url(images/jplayer-black-and-yellow.png) 0 0 no-repeat; }

a.jp-play:hover { background-position: -33px 0; }

a.jp-pause {
    background: url(images/jplayer-black-and-yellow.png) 0 -30px no-repeat;
    display: none;
}

a.jp-pause:hover { background-position: -33px -30px; }

.jp-progress-container {
    position: absolute;
    top: 0;
    left: 34px;
    width: 410px;
    height: 6px;
    padding: 12px 10px;
}

.jp-progress {
    position: absolute;
    width: 408px;
    height: 7px;
    padding: 1px;
    background: url(images/jplayer-black-and-yellow.png) 0 -192px repeat-x ;
}

.jp-seek-bar {
    width: 0px;
    height: 5px;
    cursor: pointer;
    background: url(images/jplayer-black-and-yellow.png) 0 -163px repeat-x;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.jp-play-bar {
    width: 0px;
    height: 5px;
    background: url(images/jplayer-black-and-yellow.png) 0 -133px repeat-x ;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.jp-volume-bar-container {
    position: absolute;
    top: 0;
    right: 20px;
    width: 40px;
    height: 6px;
    padding: 12px 10px;
}

.jp-volume-bar {
    position: relative;
    overflow: hidden;
    background: url(images/jplayer-black-and-yellow.png) 0 -192px repeat-x;
    width: 40px;
    height: 9px;
    cursor: pointer;
    top: 0;
    left: 18px;
}

.jp-volume-bar-value {
    width: 0px;
    height: 5px;
    margin: 1px;
    background: url(images/jplayer-black-and-yellow.png) 0 -133px repeat-x;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

a.jp-mute,
a.jp-unmute {
    width: 17px;
    height: 13px;
    z-index: 1;
    outline: none;
    top: 9px;
    right: 60px;
}

a.jp-mute { background: url(images/jplayer-black-and-yellow.png) -10px -68px no-repeat; }

a.jp-mute:hover { background-position: -43px -68px; }

a.jp-unmute { background: url(images/jplayer-black-and-yellow.png) -10px -98px no-repeat; }

a.jp-unmute:hover { background-position: -43px -98px; }

.seperator-first,
.seperator-second {
    background:url(images/seperator.png) no-repeat left;
    height: 30px;
    width: 2px;
    position: absolute;
    left: 32px;
}

.seperator-second {
    left: auto;
    right: 90px;
}
