/* Contact Template --------------------------------------*/

body.page-template-template-contact #primary {
    padding-bottom: 2rem;
}

.contactform { 
    margin-left: 0;
    padding-left: 0;
}

.contactform li { list-style-type: none; }

.contactform li label {
    display: block;
}

.contactform li input[type="text"], .contactform li textarea {
    border: 1px solid #ccc;
    width: 90%;
}

.contactform li input[type="text"] {
    margin-bottom: 15px;
}

.contactform li textarea {
    height: 200px;
    margin-bottom:15px;
}

.contactform li button {
    float: left;
    font-size: 16px;
}

label.error { color: red; }

@media screen and (min-width: 576px) {
    /*ul*/.contactform {
        padding-left: 20px;
    }
}

@media screen and (min-width: 769px) {
    /*ul*/.contactform {
        padding-left: 40px;
    }
}