body.page-id-694 .page-header {
  padding-bottom: 0;
  margin-bottom: 12px;
}

figure.mediation__quote {
  display: block;
  margin: 0 auto 2.5rem auto;
  width: 100%;
}

.mediation__blockquote {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0 0 2rem 0;
  padding: 0;
  text-align: center;
}

blockquote::before, blockquote::after {
  color: #ccc;
  font-size: 2.5rem;
  display: inline;
  font-family: 'Courier', serif;
  line-height: 1;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}


blockquote {
  quotes: "“" "”" "‘" "’";
}

blockquote p {
  display: inline;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1 !important;
}

figcaption {
  font-family: 'Times', serif;
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 0 auto;
  width: 90%;
}

.mediation__bear {
  border: 1px solid #ccc;
  width: 310px;
}

.mediation__bear--left, .mediation__bear--right {
  float: none;
  clear: both;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .mediation__bear--left { 
    float: left; 
    margin-right: 7px;
    margin-left: 0;
  }
  
  .mediation__bear--right { 
    display: inline-block;
    float: right; 
    margin-left: 7px;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .mediation__blockquote {
    font-size: 1.75rem;
  }
  
  blockquote::before {
    font-size: 3rem;
  }

  blockquote::after {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .mediation__blockquote {
    font-size: 2.25rem;
  }
  
  blockquote::before {
    font-size: 4rem;
  }

  blockquote::after {
    font-size: 4rem;
  }

}