/*h2*/.prepare-case__hdr {
	font-family: 'Oswald', sans-serif;
	font-size: 1.25rem;
	margin: 1.25rem 0;
}

/*ul*/.prepare-your-case-list {
	font-family: 'Cabin', sans-serif;
	list-style-type: disc !important;
	margin-bottom: .85rem;
}

/*ul*/.prepare-your-case-list li {
	margin-bottom: .85rem;
}

@media screen and (min-width: 567px) {
/*h2*/.prepare-case__hdr {
	font-size: 1.4rem;
	}
}

@media screen and (min-width: 769px) {
	/*h2*/.prepare-case__hdr {
		font-size: 1.75rem;
		}
	}