/* Alerts -----------------------------------*/

.alert {
    padding: 12px 5% 12px 5%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    text-align: center;
    margin: 0 0 20px 0;
}

.alert.white {
    background: #fff;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    color: #444444;
}

.alert.red {
    background: #FFD7D8;
    border-top: 1px solid #f9bac7;
    border-bottom: 1px solid #f9bac7;
    color: #d54c4c;
}

.alert.orange {
    background: #FFCBA8;
    border-top: 1px solid #efd1b1;
    border-bottom: 1px solid #efd1b1;
    color: #cc6600;
}

.alert.green {
    background: #D5FFCA;
    border-top: 1px solid #cadba7;
    border-bottom: 1px solid #cadba7;
    color: #5f8b33;
}

/* Tabs -------------------------------------*/

.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
}

.tabs {
    margin: 0 0 20px 0;
}

.tabs ul.nav {
    list-style: none;
    margin: 0 0 0 1px;
    padding: 0;
}

.tabs ul.nav li {
    float: left;
    position: relative;
    margin: 0 2px -1px 0;
    z-index: 10;
}

.tabs ul.nav li a {
    border: 1px solid #EFEFEF;
    border-bottom: none;
    display: block;
    overflow: hidden;
    padding: 5px 10px 0 10px;
    height: 24px;
    background: #FBFBFB;
    -webkit-border-radius: 3px 3px 0 0;
       -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
}

.tabs ul.nav li.ui-tabs-selected a {
    height: 25px;
    background: #fff;
}

.tabs .tab {
    background: #fff;
    padding: 10px;
    border: 1px solid #EFEFEF;
}

/* Toggle -----------------------------------*/

.toggle { margin: 0 0 20px 0; }

.toggle h4 {
    font-size: 12px;
    padding: 10px;
    background: #FBFBFB;
    border: 1px solid #EFEFEF;
    cursor: pointer;
}

.toggle-inner {
    padding: 10px;
    background: #fff;
    border: 1px solid #EFEFEF;
    border-top: none;
}

.toggle .ui-icon {
    background: #F00;
    width: 10px;
    height: 10px;
    float: left;
    margin: 3px 10px 0 0;
}

.toggle .ui-icon {
    background: url(images/shortcodes/toggles/toggle-closed.png) no-repeat;
    width: 12px;
    height: 12px;
    float: left;
    margin: 3px 10px 0 0;
}

.toggle .ui-state-active .ui-icon { background: url(images/shortcodes/toggles/toggle-open.png) no-repeat; }