$black: #121212;
$blackLite: #323323;
$blackBlue: #222233;
$white: #fff;

$dark-primary-color:#689f38;
$default-primary-color:#4CAF50;
$light-primary-color:#dcedc8; 
$accent-color:#FFC107;
$primary-text-color: #212121;
$primary-text-light: #454545;
$secondary-text-color:#757575;
$divider-color:#dfdfdf;

$teal-accent:#009688;

/* LINK COLORS */
$amber-accent:#FFC107;
/* $blue-link: #2660a4; */
$blue-link: #1330d8;
//$accent: $teal-accent;

/* Consider These */
$alabaster: #E6EFE9;

/* TAN & RED */
$h2: #5b5343;
$menu-color: #3d3e3b;
$maroonHdr: #A63838;
$headerTxt: $blackLite;

/* POSTCARD COLORS */
$postCardBlack: #010101;
$postCardGray: #474749;
$darkMaroon: #8b2428;
$maroonTwo: #882329;
$darkTan: #464648;
$liteTan: #949496;
$grayBrick: #A6A6A8;
$accent: #D4DF9E;
$honeyDew: #F1FFE7;



$dark-primary-color: maroonHdr;
$darkTxt: #aaa;

/*newColor Scheme TAN & MAROON*/
$liteGrayGreen: #f1f5f9;
$redOne: #ba4843;
$redTwo: #ed5d61;
$purpleGradOne: #6d77c4;
$purpleGradTwo: #999fdf;
$drkGrayTxt: #475a63;
$drkgrayTxtTwo: #3c535c;
$orangeGlasses:#e78852;
$deepPurple: #4b55a2;
$deepPurpleTwo: #0E0A80;

/* NEW BLUE */
$liteGreenish: #F0F6F9;
$almostBlack: #00171F;
$baseBlue: #04244a;
$blueHeader: #074084;
$liteBlue: #6bccff;
$yellowish: #fcc43d;
$liteGray: #c3d2d5;
$hover: $maroonTwo;
//$accent: #e63e00;
$accent: #c00;
$homePageLinks: $accent;
$hover: #f3b215;