@mixin book-box-shadow {
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
	}

@mixin site-title-font($fontSz) {
	font-family: 'lucida_handwritingitalic', cursive;
	font-size: $fontSz;
}

@mixin blade-padding-top {
	padding-top: 40px;
}

@mixin blade-padding-left {
	padding-left: 15px; 
	@media (min-width: 64em) {
		padding-left: 90px; 
	}
}

@mixin blade-padding-sides {
	padding-left: 15px; 
	padding-right: 15px; 
	@media (min-width: 768px) and (max-width:991px) { /* @screen-sm-min */
		padding-left: 30px; 
		padding-right: 30px; /* WAS 40px */
	}
	/* @media (min-width: 64em) { */
	@media (min-width: 992px) {	 /* @screen-md-min*/
		padding-left: 90px; 
		padding-right: 90px;
	} 
}

@mixin blade-padding-bot {
	padding-bottom: 30px; 
}

@mixin page-padding-bot {
	padding-bottom: 50px; 
}

@mixin list-item-spacing {
	margin-bottom: 15px;
}

@mixin cc-list-style {
	padding-left: 0;
	list-style-type: none;

	li {
		font-size: 1.2rem;
		margin-bottom: 10px;
		/*
		@media only screen and (min-width:495px) {
			margin-bottom:0;

		} */
	}
}

@mixin hp-blade {
	border: 0px solid green;
}

@mixin toms-fluid-type ($min-width, $max-width, $font-size) {
  @media (min-width: $min-width) and (max-width: $max-width) {
    font-size: $font-size;
  }
}


@mixin drop-shadow {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} 